# Virtual environment
.venv/
venv/
env/
Thesis/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Develepoment Cofing
config.ini

prompt.md
analysis.md

*.cmd